p {
  padding: 10px;
  border: 1px solid black;
}

div {
  padding: 10px;
  border: 1px solid teal;
}

ul {
  padding: 10px;
  list-style: none;
  border: 1px solid green;
}

li {
  padding: 10px;
  border: 1px solid purple;
}
.none {
  display: none;
}